<html lang="tr">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Giriş & Kayıt Formu</title>
    <link rel="stylesheet" href="style.css" />
</head>
<body>
<div class="container">
    <input type="checkbox" id="check" />
    <div class="login form">
        <header>Giriş Yap</header>
        <form action="#">
            <input type="text" placeholder="E-posta adresinizi girin" />
            <input type="password" placeholder="Şifrenizi girin" />
            <a href="#">Şifremi unuttum?</a>
            <input type="button" class="button" value="Giriş Yap" />
        </form>
        <div class="signup">
            <span class="signup">
                Hesabınız yok mu?
                <label for="check">Kayıt Ol</label>
            </span>
        </div>
    </div>
    <div class="registration form">
        <header>Kayıt Ol</header>
        <form action="#">
            <input type="text" placeholder="E-posta adresinizi girin" />
            <input type="password" placeholder="Şifre oluşturun" />
            <input type="password" placeholder="Şifreyi tekrar girin" />
            <input type="button" class="button" value="Kayıt Ol" />
        </form>
        <div class="signup">
            <span class="signup">
                Zaten hesabınız var mı?
                <label for="check">Giriş Yap</label>
            </span>
        </div>
    </div>
</div>
</body>
</html>
